div.ant-editor {

  .ed-icon-twitter {
    background: transparent asset-url('ant/twitter.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

  .ed-icon-instagram {
    background: transparent asset-url('ant/instagram.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

  .ed-icon-youtube {
    background: transparent asset-url('ant/youtube.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

  .ed-icon-coub {
    background: transparent asset-url('ant/coub.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

  .ed-icon-script {
    background: transparent asset-url('ant/script.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

  .ed-icon-vimeo {
    background: transparent asset-url('ant/vimeo.png') no-repeat 50% 50%;
    background-size: 18px 18px;
  }

}
